{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Index page</title>
</head>
<body>
<div class="container">
    <h1>Вас приветствует симулятор кота</h1>
    <p>для начала введите имя кота</p>
    <form action="/cat_stats" method="post">
      {% csrf_token %}
      <input type="text" name="name" placeholder="Введите имя кота">
        <button type="submit">Создать</button>
    </form>
</div>
</body>
</html>